**/target/
**/nb-configuration.xml
/doc/uniboard-arch/*.aux
/doc/uniboard-arch/*.out
/doc/uniboard-arch/*.pdf
/doc/uniboard-arch/*.gz
/doc/uniboard-arch/*.log
/doc/uniboard-arch/*.toc
/doc/uniboard-arch/*.hst
/doc/uniboard-arch/*.ver
/tools/InitialRight/target/
/modules/bfh-configuration/target/
/modules/bfh-persistence-mongodb/target/
/modules/bfh-sectioned/target/
/modules/bfh-access-controlled/target/
/modules/bfh-certified-get/target/
/modules/bfh-certified-posting/target/
/modules/bfh-chronological/target/
/modules/bfh-grouped-typed/target/
/modules/bfh-notification/target/
/modules/bfh-ordered/target/
/modules/bfh-restservice/target/
/modules/bfh-timed-get/target/
/modules/bfh-webservice/target/
/applications/singleinstance/target/
/application-clients/client-library/target/