**/target/
**/nb-configuration.xml
/doc/uniboard-arch/*.aux
/doc/uniboard-arch/*.out
/doc/uniboard-arch/*.pdf
/doc/uniboard-arch/*.gz
/doc/uniboard-arch/*.log
/doc/uniboard-arch/*.toc
/doc/uniboard-arch/*.hst
/doc/uniboard-arch/*.ver
/tools/InitialRight/target/